<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITRex-lab</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="form-container">
    <form action="sign-up.html" class="form-box" method="post">
        <h2 class="form-box__title">
            <span class="form-box__left-arrow"></span>
            Restore Password
        </h2>
        <div class="form-box__restore-message">
            An email has been sent to <a href="#" class="email__link">example@exam.com</a>.
            Check your inbox, and click the reset link provided.
        </div>
    </form>
</div>
</body>
</html>