<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITRex-lab</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="form-container">
    <form action="sign-up.html" class="form-box" method="post">
        <h2 class="form-box__title">Sign in</h2>
        <div class="form-box__input form-box__input_email">
            <input type="email" required placeholder="Email">
        </div>
        <div class="form-box__input form-box__input_password">
            <input class="input-error" type="password" required placeholder="Password">
            <span class="input-error__message">Password contain unsupported characters</span>
        </div>
        <div class="form-box__button">
            <input type="submit" value="Sign in">
            <span class="form-box__right-arrow"></span>
        </div>
        <a href="#" class="forgot__link">Forgot Password?</a>
    </form>
    <div class="sign-in-up__message">
        Don`t have an account?
        <a href="#" class="sign-in-up__link">Sign up</a>
    </div>
</div>
</body>
</html>