.error {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.error__number {
    color: #ff2567;
    font-size: 130px;
    font-weight: bold;
}

.error__message {
    text-transform: uppercase;
    font-size: 18px;
}