.body-doctor-view {
    background-color: #e4ebff;
    margin: 0;
    padding: 0 64px 48px;
    height: calc(100vh - 128px);
}

.body {
    padding: 80px 0 0 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    box-sizing: border-box;
    margin: 0;
    background-color: #e4ebff;
}

.header__container {
    max-width: 1792px;
    margin: 0 auto;
    height: 100%;
    padding: 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-image {
    margin: 0 14px 0 0;
}

.header__logo-text {
    text-transform: uppercase;
    color: #202225;
    font-weight: 500;
}

.header__user {
    display: flex;
    align-items: center;
}

.header__user-info {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header__user-img {
    margin: 0 0 0 16px;
    width: 40px;
    height: 40px;
    position: relative;
}

.header__user-online {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 3px solid #e4Ebff;
    background-color: #34c197;
    position: absolute;
    top: -1px;
    right: -3px;
}

.header__user-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: contain;
}

.header__user-name {
    font-weight: 600;
    font-size: 15px;
    color: #202225;
    text-transform: capitalize;
    margin: 0 0 4px 0;
}

.header__user-role {
    font-weight: 500;
    font-size: 13px;
    color: #A1ABC9;
    text-transform: capitalize;
    margin: 0;
}

.patients {
    max-width: 1792px;
    height: 100%;
    padding: 40px 16px 0 48px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #f9faff;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.32);
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.no-patients__container {
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patients__container {
    /*height: 64vh;*/
    /*height: calc(90% - 100px);*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, 264px);
    gap: 20px 24px;
    overflow: auto;
    padding: 0 32px 0 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(236, 220, 222, 0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(220, 224, 236, 0.5);
    border-radius: 8px;
}

.patients__buttons-container {
    display: flex;
    margin: 0 0 36px 0;
    gap: 15px;
}

.patients__header,
.patients__utils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.patients__title {
    font-weight: 600;
    font-size: 24px;
    color: #202225;
    text-transform: capitalize;
}

.patients__btn {
    width: 137px;
    display: inline-flex;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
}

.patients__btn_blue {
    color: #FFFFFF;
    background: #7297ff;
}

.patients__btn_white {
    color: #7297ff;
    background-color: #ffffff;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
}

.patients__medical-history {
    display: flex;
    flex-direction: column;
    max-width: 461px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.patients__medical-history-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #A1ABC9;
    display: flex;
    flex-direction: column;
}

.fast-search__form {
    display: flex;
    align-items: center;
}

.fast-search__input {
    background: url("../img/search-icon.svg") no-repeat 12px 50% /contain;
    background-size: 20px 20px;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 0 10px 0 38px;
    height: 32px;
    font-size: 15px;
    color: #a1abc9;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.fast-search__input::placeholder {
    font-weight: normal;
    font-size: 15px;
    color: #A1ABC9;
}

.custom-select-label {
    font-weight: 400;
    font-size: 15px;
    color: #A1ABC9;
    flex-shrink: 0;
}

.custom-select {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #7297ff;
    line-height: 140%;
    padding: 10px 22px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent url("../img/top-arrow.svg") no-repeat 100% 50%/contain;
    background-size: 11px 7px;
    cursor: pointer;
    position: relative;
}

.custom-select:focus {
    outline: none;
}

.custom-select option {
    font-weight: 400;
    font-size: 15px;
    color: #202225;
}

.patient__card {
    display: flex;
    height: 264px;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.24);
    border-radius: 12px;
    overflow: hidden;
}

.patient__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(220, 224, 236, 0.5);
    padding: 24px 42px;
}

.patient__info {
    display: flex;
    align-items: center;
}

.patient__info-image {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.patient__data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 16px;
}

.patient__name {
    font-weight: 600;
    font-size: 17px;
    align-items: center;
    color: #202225;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 130px;
}

.patient__status {
    font-weight: 500;
    font-size: 13px;
    color: #A1ABC9;
    margin: 0;
}

.patient__settings-button {
    width: 24px;
    height: 24px;
    background: url("../img/settings-dots.svg") no-repeat center/contain;
    border: none;
    outline: none;
}

.patient__status {
    display: flex;
    align-items: center;
}

.patient__confirm {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 8px 0 0;
    flex-shrink: 0;
}

.patient__confirm_green {
    background-color: #34C197;
}

.patient__confirm_red {
    background-color: #FF2567;
}

.patient__confirm_blue {
    background-color: #7297FF;
}

.patient__body {
    padding: 24px 32px 40px 36px;
    overflow: hidden;
    /*margin: 0 0 40px 0;*/
}

.patient__description,
.patient__time {
    display: flex;
    gap: 18px;
}

.no-patient__description {
    display: none;
}

.patient__description_text {
    font-weight: 400;
    font-size: 15px;
    color: #202225;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.patient__time_text {
    font-weight: 600;
    font-size: 15px;
    color: #202225;
    margin: 0 0 16px 0;
}

@media only screen
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3),
(max-device-width: 767px) {

    .patients__container {
        grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
        grid-template-rows: repeat(auto-fit, 305px);
        gap: 15px;
        padding: 0;
    }

    .patients__buttons-container {
        margin: 0 0 30px 0;
    }

    .patients__title {
        font-size: 20px;
    }

    .body-doctor-view {
        padding: 0;
    }

    .header__container {
        padding: 0 24px;
    }

    .patient__card {
        height: 305px;
    }

    .patient__header {
        padding: 24px;
    }

    .patient__body {
        padding: 16px 24px 24px 18px;
    }

    .patient__description_text {
        -webkit-line-clamp: 5;
    }

    .patients {
        padding: 40px 24px 0;
        height: 100%;
        overflow: auto;
        border-radius: 16px 16px 0 0;
    }

    .header__user-info {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

}