.react-calendar {
    width: 400px;
    max-width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.24);
    border-radius: 12px;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 4px 0;
    border: 1px solid transparent;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(220, 224, 236, .5);
    margin: 0 0 30px 0;
    padding: 25px 0;
}

.react-calendar__navigation button {
    background: none;
    color: #000000;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    color: #A1ABC9;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 4px;
}

.react-calendar__month-view__weekdays__weekday > abbr {
    text-decoration: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #dce0ec;
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 14px 8px;
    background: none;
    border-radius: 12px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    border: 1px solid #7297ff;
}

.react-calendar__tile--now {
    background: #7297ff;
    color: #ffffff;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    border: 1px solid #7297ff;
    color: #7297ff;
}
