.form_box {

  width: 368px;
  display: flex;
  flex-direction: column;
  grid-area: form;
  @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
  (max-device-width: 767px) {
    width: 100%;
  }

  &__title {
    font-family: inherit;
    font-weight: 600;
    font-size: 24px;
    color: #202225;
    margin: 0 0 4vh 0;
    text-decoration: none;
    @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
    (max-device-width: 767px) {
      font-size: 20px;
      margin: 0 0 27px 0;
    }
  }

  &__leftArrow {
    width: 8px;
    height: 14px;
    background: url("../../svgImages/left-arrow.svg") no-repeat center;
    display: inline-block;
    margin: 0 24px 2px 0;
  }

  &__restoreMessage {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #A1ABC9;
    margin: 0 0 40px 0;
  }

  &__input {
    position: relative;
    margin: 0 0 26px 0;

    &_firstName,
    &_lastName {
      &:before {
        background-image: url("../../svgImages/user.svg");
      }
    }

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background-size: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 26px;
      background-position: center;
      background-repeat: no-repeat;
      @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
      (max-device-width: 767px) {
        left: 18px;
      }
    }

    &_email {
      &:before {
        background-image: url("../../svgImages/email.svg");
      }
    }

    &_password {
      &:before {
        background-image: url("../../svgImages/lock.svg");
      }

      &_icon {
        content: "";
        width: 22px;
        height: 22px;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 26px;
        cursor: pointer;

        &_visible {
          background: url("../../svgImages/eye-icon.svg") no-repeat;
        }

        &_nonVisible {
          background: url("../../svgImages/eye-off-icon.svg") no-repeat;
        }
      }
    }

    &_confirmPassword {
      &:before {
        background-image: url("../../svgImages/check-mark.svg");
      }
    }
  }

  & input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 1px solid #dce0ec;
    box-sizing: border-box;
    box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
    border-radius: 8px;
    width: 100%;
    padding: 16px 64px;
    font-weight: 400;
    font-size: 17px;
    outline: none;
    background-color: #f9faff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.25;
    @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
    (max-device-width: 767px) {
      padding: 10px 48px;
      font-size: 15px;
    }

    &:focus {
      border: 1px solid #7297ff;
      box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.24);
      background: #ffffff;
    }

    &::placeholder {
      color: #a1Abc9;
    }
  }

  &__button_wrapper {
    position: relative;
    width: fit-content;
    margin: 3vh 0 0 0;
  }

  &__right_arrow {
    width: 8px;
    height: 14px;
    background: url("../../svgImages/right-arrow.svg") no-repeat center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
    (max-device-width: 767px) {
      right: 23px;
    }
  }
}

.inputError {
  border: 1px solid #FF2567;

  &__message {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: -0.24px;
    color: #F6657F;
    margin: 8px 0 0 0;
    position: absolute;
    top: 90%;
    left: 0;
  }
}

.forgot__link,
.email__link {
  font-weight: 500;
  font-size: 15px;
  text-decoration-line: underline;
  color: #7297FF;
  margin: 32px 0px;
  width: fit-content;
}