.form_box {
  &__button_wrapper {
    position: relative;
    width: fit-content;
    margin: 3vh 0 0 0;
  }

  &__right_arrow {
    width: 8px;
    height: 14px;
    background: url("../svgImages/right-arrow.svg") no-repeat center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
  }
}